body{
  background-color: Black;
}

.container{
  width: 400px;
  padding: middle;
  margin: auto;
  position: relative;
  color: white;
}

#feedback{
  background-color: yellow;
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.item
{
  position: absolute;
  left: 50px;
  top: 150px;
}
