body{
  background-color: Black;
}

.container{
  width: 500px;
  padding: middle;
  margin: auto;


  color: white;
}

#feedback{
  background-color: yellow;
  color: red;
  font-size: 30px;
  font-weight: bold;
}
